* {
  box-sizing: border-box;
  margin: 0.1%;
}
#header {
  height: 15vh;
  border: 1px rgb(68, 140, 223) solid;
  display: flex;
  padding: 1%;
}
#name {
  flex: 1;
  text-align: center;
  border: 1px rgb(97, 115, 134) solid;
  margin-right: -inherit;
}
main {
  height: 85vh;
  border: 1px rgb(68, 140, 223) solid;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
#vw-1 {
  flex: 1;
  border-right: 1px rgb(68, 140, 223) solid;
  position: relative;
  height: 100%;
}
#vw-2 {
  flex: 1;
  position: relative;
}
#text-box {
  border: 1px rgb(68, 140, 223) solid;
  flex: 8;
  display: flex;
  justify-content: space-between;
  padding: 2vh;
}
#textBox-1 {
  border: 1px rgb(68, 140, 223) solid;
  width: 20vh;
  text-align: center;
}
#textBox-2 {
  border: 1px rgb(68, 140, 223) solid;
  width: 20vh;
  text-align: center;
}
.login {
  flex: 2;
}
#displayURL-1 {
  width: 50vw;
  height: -webkit-fill-available;
}
#displayURL-2 {
  width: 50vw;
  height: -webkit-fill-available;
}
